.root {
  background-color: #f2f2f2;
  margin-bottom: 8px;
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  margin: 8px;
  flex-direction: column;
}

.root img {
  width: 128px;
  height: 128px;
}

.name {
font-size: 1.5rem;


}